<div class="product-popup hidden">
  <div class="popup-content">
    <span class="close-popup">&times;</span>
    <!-- Product Details -->
    <div class="product-info">
      <img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}">
      <h2>{{ product.title }}</h2>
    </div>
  </div>
</div>
