<div class="">
  {{ block.settings['custom-product'] }}
</div>
{% schema %}
{
  "name": "Custom Product",
  "class":"button-block",
  "settings": [
    {
      "type": "product",
      "id": "custom-product",
      "label": "Product"
    },
  ],
  "presets": [
    { "name": "Custom Product" },
  ]
}
{% endschema %}
