<div class="custom-product-wrapper">
  <!-- <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title | escape }}"> -->

  {{ block.settings['custom-product'] }}
</div>
{% schema %}
{
  "name": "Custom Product",
  "class":"custom-product-main",
  "settings": [
    {
      "type": "product",
      "id": "custom-product",
      "label": "Product"
    },
  ],
  "presets": [
    { "name": "Custom Product" },
  ]
}
{% endschema %}
