<div class="{{ section.settings.section-checkbox }}">
  <div class="custom-section-product">
    <div class="custom-section-text">
      <h2>{{ section.settings['section-heading-text'] }}</h2>
    </div>
    <div class="custom-product-grid">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "custom grid view",
  "settings": [
    {
      "type": "richtext",
      "id": "section-heading-text",
      "label": "Heading",
    },
    {
      "type": "select",
      "id": "section-checkbox",
      "label": "Layout",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "page-width",
          "label": "Page Width"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "custom grid view",
    }
  ],
}
{% endschema %}
