/*=======================*/
/* genral css start here */
/*=======================*/
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,a,li,span{font-family: 'Jost';}

.custom-button { position: relative;overflow: hidden;color: #fff;} 
.custom-button:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color:#FFF544; transform: translateX(-100%);transition: 0.5s ease-in-out;z-index: -1;} 
.custom-button:hover { color:#000; } 
.custom-button:hover:before { transform: translateX(0); }
/*=======================*/
/* genral css end here */
/*=======================*/

/*=======================*/
/* banner css start here */
/*=======================*/
.custom-banner-content-wrapper .custom-banner-image{background-color: #fff;}
.custom-banner-content-wrapper .custom-banner-image img { position: relative; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.custom-banner-content-wrapper .banner__box {padding:0;max-width: 48rem;min-width: 43rem;}
.custom-banner-content-wrapper .custom-heading {font-size: 70px;color: #000;font-weight: 500;letter-spacing: 0;line-height: 1;margin: 0 0 5rem 0;}
.custom-banner-content-wrapper .custom-heading p{margin: 0 0 0 0;}

.custom-banner-content-wrapper .description-block {margin: 0 0 5rem 0;}
.custom-banner-content-wrapper .description-block p{margin: 0 0 0 0;font-size:20px;color: #000;font-weight:400;letter-spacing: 0;line-height: 1.4;}

.custom-banner-content-wrapper .button-block{margin: 0;}
.custom-banner-content-wrapper .button-block .custom-link{max-width: 230px; width: 100%; display: block; font-size: 16px; line-height: 20.8px; font-weight: 400; text-transform: uppercase; text-align: center; background-color: #000; padding: 14px 0;text-decoration: none; display: flex; justify-content: center; align-items: center; gap: 30px;z-index: 1;}
.custom-banner-content-wrapper .button-block .custom-link p{margin:0;}
.custom-banner-content-wrapper .button-block a .svg-wrapper {width: 24px;height: 24px;}
/*=====================*/
/* banner css end here */
/*=====================*/

.custom-text-wrapper{color:#000;}
.custom-text-wrapper .description-block p{margin:0;}

/*=====================*/
/* grid css start here */
/*=====================*/
.custom-grid-view .full-width{padding:0 5rem;}
.custom-section-text h2 {font-size: 36px;font-family: 'Lustria';line-height: 1.2;letter-spacing: 0;margin:0 0 30px 0;font-weight: 400;}
.custom-section-text h2 p{margin: 0;}
.custom-product-grid {
    display: flex;
}
.custom-product-main {
    width: calc(33.3% - 20px);
}
/*===================*/
/* grid css end here */
/*===================*/